#home-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .svg-preview {
        color: grey;
        font-size: 100px;
        width: fit-content;
        height: fit-content;
        display: flex;
        align-items: center;
    }
}