<section id="home-section">
    <div class="icon-preview">
        <h1>Preview</h1>
        <h1 class="my-icon">
            <app-animated-icon [triggerOnClick]="true" [icon]="testIcon()"></app-animated-icon>
        </h1>
    </div>

    <div>
        <div class="keyframe-imgs-container">
            <ul class="keyframe-img-list">
                @for(img of [].constructor(keyframeCount);track $index){
                <ng-container [ngTemplateOutlet]="keyframeImgItem"
                    [ngTemplateOutletContext]="{index:$index}"></ng-container>
                }
                @if(firstFrameIsLastFrame){
                <ng-container [ngTemplateOutlet]="keyframeImgItem" [ngTemplateOutletContext]="{index:0}"></ng-container>
                }
            </ul>
        </div>


        <app-timeline [keyframeCount]="firstFrameIsLastFrame? keyframeCount+1:keyframeCount" (keyframesUpdatedEvent)="onKeyframesUpdated($event)" ></app-timeline>
    </div>
</section>

<ng-template #keyframeImgItem let-index="index">
    <li class="keyframe-img-item">
        <img src="./svgs/animated-icons/src/{{baseFileName}}/{{baseFileName}}-{{index}}.svg" />
        <h2 class="frame-number">{{index}}</h2>
    </li>
</ng-template>