@import "../../shared/styles/variables.less";

#home-section {

    .icon-preview {
        .my-icon {
            font-size: 100px;
            color: blue;
        }
    }

    .keyframe-imgs-container {
        .keyframe-img-list {
            display: flex;
            flex-wrap: wrap;
            margin: @margin 0px;
            .keyframe-img-item {
                width: 64px;
                margin: @margin-smaller;

                img {
                    max-width: 100%;
                }
            }
        }
    }
}